<h1>Inscription</h1>
<form>
    <div class='form-group'>
        <label class='form-label'>Identifiant</label>
        <input type='text' class='form-input'>
    </div>
    <div class='form-group'>
        <label class='form-label'>Mot de passe</label>
        <input type='password' class='form-input'>
    </div>
    <div class='form-group'>
        <label class='form-label'>Confirmation du mot de passe</label>
        <input type='password' class='form-input'>
    </div>
    <button type='submit' class="form-action">M' inscrire</button>
    <div>
        <span>Vous avez déjà un compte ? <a href="connexion">Je me connecte</a></span>

    </div>

</form>